[submodule "mocogan"]
	path = mocogan
	url = https://github.com/CarloP95/mocogan.git
[submodule "caffe"]
	path = caffe
	url = https://github.com/CarloP95/caffe.git
[submodule "torch_videovision"]
	path = torch_videovision
	url = https://github.com/CarloP95/torch_videovision.git
